<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.myself.ioc_02.UserDao"/>
    <bean id="userService" class="com.myself.ioc_02.UserService">
        <constructor-arg ref="userDao"/>
    </bean>

    <bean id="userService2" class="com.myself.ioc_02.UserService">
        <constructor-arg name="age" value="17"/>
        <constructor-arg name="name" value="aag"/>
        <constructor-arg name="userDao" ref="userDao"/>
    </bean>

    <bean id="movieFinder" class="com.myself.ioc_02.MovieFinder"/>
    <bean id="movieLister" class="com.myself.ioc_02.SimpleMovieLister">
        <property name="movieName" value="星际穿越"/>
        <property name="movieFinder" ref="movieFinder"/>

    </bean>

</beans>