<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:jdbc.properties"/>


    <!--    德鲁伊连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${myself.url}"/>
        <property name="driverClassName" value="${myself.driver}"/>
        <property name="username" value="${myself.username}"/>
        <property name="password" value="${myself.password}"/>
    </bean>


    <!--    jdbcTemple-->
    <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--    dao依赖jdbc temple-->
    <bean class="com.myself.dao.StudentDaoImpl" id="studentDao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>

    <!--    service依赖dao-->
    <bean class="com.myself.service.StudentServiceImpl" id="studentService">
        <property name="studentDao" ref="studentDao"/>
    </bean>
    <!--controller 依赖 dao-->
    <bean class="com.myself.controller.StudentController" id="studentController">
        <property name="studentService" ref="studentService"/>

    </bean>
</beans>